/* === [Workspace Layout] === */
.ws-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #fff;
  z-index: 2000;
  grid-template-columns: 260px 1fr 320px;
  border-top: none;
}
.ws-container.active {
  display: grid;
}
