/* MatePagination.module.css */

.button {
  border: 3px solid #000;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 1);
}

.button:hover:not(:disabled) {
  transform: translate(-2px, -2px);
  box-shadow: 6px 6px 0px rgba(0, 0, 0, 1);
}

.button:active:not(:disabled) {
  transform: translate(0, 0);
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
}

.buttonDisabled {
  box-shadow: none;
}

.pageButton {
  border: 3px solid #000;
  box-shadow: 3px 3px 0px rgba(0, 0, 0, 1);
}

.pageButton:hover {
  transform: translate(-1px, -1px);
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 1);
}

.pageButtonActive {
  background-color: #000 !important;
  color: #fff !important;
  transform: translate(-2px, -2px);
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 1);
}