/* MateFilters.module.css */

.filters {
  border: 3px solid #000;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 1);
}

.dropdown {
  border: 3px solid #000;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 1);
}

.tagActive {
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
  transform: translate(-1px, -1px);
}

/* bg-black 강제 적용 (Globals.css 오버라이드) */
.bgActive {
  background-color: #000 !important;
  color: #fff !important;
}
