/* common.css */

/* === [ν‘Έν„° (Footer)] === */
footer {
  margin-top: 100px;
  border-top: 2px solid #000;
  padding: 40px;
  text-align: center;
  background: #fff;
}

.barcode {
  height: 20px;
  background: repeating-linear-gradient(
    90deg,
    #000,
    #000 2px,
    #fff 2px,
    #fff 6px
  );
  width: 200px;
  margin: 0 auto 20px auto;
  opacity: 0.5;
}
