/* styles/mate/filters.css */

.mate-filters {
  border: 3px solid #000;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 1);
}

.mate-filters-dropdown {
  border: 3px solid #000;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 1);
}

.mate-tag-active {
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
  transform: translate(-1px, -1px);
}

