/* styles/mate/header.css */

.mate-header {
  border: 3px solid #000;
  box-shadow: 8px 8px 0px rgba(0, 0, 0, 1);
}

.mate-header-btn {
  border: 3px solid #000;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 1);
}

