/* Mate.module.css */

.sortDropdown {
  border: 3px solid #000;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 1);
}

.emptyState {
  border: 3px solid #000;
  box-shadow: 8px 8px 0px rgba(0, 0, 0, 1);
}

/* bg-black 강제 적용 */
.bgActive {
  background-color: #000 !important;
  color: #fff !important;
}
