/* styles/mate/modals.css */

.mate-modal {
  border: 3px solid #000;
}

.mate-modal-header {
  border-bottom: 3px solid #000;
}

.mate-modal-infobox {
  border: 2px solid #000;
}

.mate-modal-infobox-lg {
  border: 3px solid #000;
}

.mate-modal-btn {
  border: 3px solid #000;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 1);
}

.mate-modal-card {
  border: 3px solid #000;
}

.mate-modal-card-approved {
  box-shadow: 0 0 0 4px #22c55e;
}

.mate-modal-card-rejected {
  box-shadow: 0 0 0 4px #ef4444;
}
