/* styles/mate/postcard.css */

.mate-card {
  border: 3px solid #000;
  transition: all 0.2s;
}

.mate-card:hover {
  box-shadow: 6px 6px 0px rgba(0, 0, 0, 1);
  transform: translate(-2px, -2px);
}

.mate-card-circle {
  border: 3px solid #000;
}

